<!--The content below is only a placeholder and can be replaced.-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Shop</title>
</head>
<body>



  <div class="container mt-3" >

    
    


      <div class="alert alert-success" *ngIf = 'showMessage'>
          <strong>School Add successful</strong>
        </div>
     
     <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class = 'pull-left mt-3'>
            <button class = 'btn btn-primary' (click) = 'toggleShop()'>Add School</button>
          </div>
        </div>
        <div class="col-md-4">
           <label> Filter by Name : </label>
          <div class="input-group add-on">
            <input type = 'text'  class="form-control" placeholder="Search By Name" name="searchText" id="srch-term" [(ngModel)]="schoolName" >
          
          </div>
        </div>
        <div class="col-md-4">
            <label> Filter by State : </label>
           <div class="input-group add-on">
             <input type = 'text'  class="form-control" placeholder="Search By State" name="searchText" id="srch-term" [(ngModel)]="state" >
           
           </div>
         </div>
      </div>
    </div>
    
    <form #school = 'ngForm'>

      <div class = 'container'*ngIf = 'show'>
        <div class="card mt-4">
            <div class="card-header" style = 'text-align : center ; '> <h3>Add New School</h3></div>

            <div class="card-body p-3" >
      <div class = 'row mt-1'>
        <div class="col-md-6">
          <input type = 'text' class = 'form-control' name = 'name' placeholder = 'Enter School Name' [(ngModel)] = 'school.name'  #name = 'ngModel' required >
          <div *ngIf="name.invalid && (name.dirty || name.touched)"
          class="alert alert-danger mt-3">
      
        <div *ngIf="name.errors.required">
          School Name is required.
        </div>
      </div>
        </div>
        <div class="col-md-6">
            <input type = 'number' class = 'form-control' name = 'registerStudent' placeholder = 'Enter Amount for Register Student'  [(ngModel)] = 'school.studentRegisterd'  #studentRegisterd = 'ngModel' required >
            <div *ngIf="studentRegisterd.invalid && (studentRegisterd.dirty || studentRegisterd.touched)"
            class="alert alert-danger mt-3">
          
          <div *ngIf="studentRegisterd.errors.required">
            this field is required.
          </div>
        </div>
          </div>
              
      </div>
      
      
      
      <div class="card mt-3"  ngModelGroup="address" #AddressCtrl="ngModelGroup">
        <div class="card-body p-4">
          <h3>Address </h3>
        <div class="row mt-4">
          <div class="col-md-6">
            <input type = 'text' class = 'form-control' name = 'street' placeholder = 'Enter Street Name'  [(ngModel)] = 'school.street'  #street = 'ngModel' required >
            <div *ngIf="street.invalid && (street.dirty || street.touched)"
            class="alert alert-danger mt-3">
          
          <div *ngIf="street.errors.required">
            Street is required.
          </div>
        </div>
          </div>
         
       
        <div class="col-md-6">
          <input type = 'text' class = 'form-control' name = 'subrub' placeholder = 'Enter subrub Name'  [(ngModel)] = 'school.subrub'  #subrub = 'ngModel' required >
          <div *ngIf="subrub.invalid && (subrub.dirty || subrub.touched)"
          class="alert alert-danger mt-3">
        
        <div *ngIf="subrub.errors.required">
          Subrub is required.
        </div>
      </div>
        </div>
      </div>
        <div class="row mt-2">
          <div class="col-md-6">
            <input type = 'text' class = 'form-control' name = 'postcode' placeholder = 'Enter PostCode'  [(ngModel)] = 'school.postcode'  #postcode = 'ngModel' required >
            <div *ngIf="postcode.invalid && (postcode.dirty || postcode.touched)"
            class="alert alert-danger mt-3">
          
          <div *ngIf="postcode.errors.required">
            postcode is required.
          </div>
        </div>
          </div>
        
            <div class="col-md-6">
              <input type = 'text' class = 'form-control' name = 'state' placeholder = 'Enter State Name'  [(ngModel)] = 'school.state'  #state = 'ngModel' required >
              <div *ngIf="state.invalid && (state.dirty || state.touched)"
              class="alert alert-danger mt-3">
            
            <div *ngIf="state.errors.required">
              State is required.
            </div>
          </div>
            </div>
            </div>
            </div>
           
      </div>
    
     
    
     
      <div class="row mt-3 center">
        <div class="col-md-12 ">
          <button class = 'btn btn-success' [disabled] = 'school.invalid' (click) = 'addSchool(school.value)'>Add School </button>
      </div>
      </div>
    </div>
  </div>
    </div>

  
    
  </form>
  
   
  </div>
    <div class="container mt-5">

   
    <h2>School List</h2>
   
    <div class="d-flex justify-content-center mt-5" *ngIf = 'showLoader'>
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <ul class="list-group list-group-flush" *ngFor = 'let school of schoolList$|async|nameFilter:schoolName|stateFilter:state ; let i = index'>
      
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-6">
             <h4> School Name : <b>{{school.name}}</b></h4>
          </div>
          <div class="col-md-6">
          <h4>  Registered Student : <b>{{school.registerStudent}}</b></h4>
          </div>
        </div>
        <h5> <u>Address :- </u> </h5>
        <div class="row mt-3">
            
            <div class="col-md-6">
             
               <h6>Street : {{school.address.street}} </h6>
                <h6>Subrub : {{school.address.subrub}}</h6>
                
            </div>
            <div class="col-md-6">
        
                <h6>    State :   {{school.address.state}} </h6>

                <h6>PostCode : {{school.address.postcode}}</h6>
                
            </div>
            
          </div>
       </li>
    </ul>
  </div>
  </body>
  
</html>